* {
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

.bar-container {
  position: relative;
  width: 80%;
  margin: 50px auto;

  .bar {
    height: 15px;
    border-radius: 5px;
    overflow: hidden;

    div {
      height: 100%;
      float: left;
    }

    .blue {
      width: 18.5%;
      background-color: #3e3e9a;
    }

    .green {
      width: 6.5%;
      background-color: #27a227;
    }

    .yellow {
      width: 5%;
      background-color: #ad8834;
    }

    .red {
      width: 70%;
      background-color: #b41f1f;
    }
  }

  .value {
    div.value-blue {
      width: 14.5%;
      height: 100%;
      float: left;
      font-size: 12px;
      line-height: 20px;
    }

    div.value-green {
      width: 8.5%;
      height: 100%;
      float: left;
      font-size: 12px;
      line-height: 20px;
    }

    div.value-yellow {
      width: 5%;
      height: 100%;
      float: left;
      font-size: 12px;
      line-height: 20px;
    }

    div.value-red {
      width: 70%;
      height: 100%;
      float: left;
      font-size: 12px;
      line-height: 20px;
    }
  }

  .slider {
    div {
      height: 100%;
      font-size: 12px;
      line-height: 20px;
      position: absolute;

      p.indicator-value {
        position: absolute;
        right: -15px;
        top: -28px;
        font-weight: 900;
        font-size: 18px;
      }
    }
  }
}

p.indicator-arrow {
  position: absolute;
  right: -6px;
  top: -6px !important;
  content: "";
  border-left: 6px solid rgb(255 0 0 / 0%);
  border-right: 6px solid rgb(255 0 0 / 0%);
  border-top: 6px solid #000;
}
