<div class="bar-container">
  <div class="slider">
    <div class="indicator" [ngStyle]="{ width: indicatorValue + '%' }">
      <p class="indicator-value">{{ indicatorValue | number: "1.1-1" }}</p>
      <p class="indicator-arrow"></p>
    </div>
  </div>
  <div class="bar">
    <div class="blue"></div>
    <div class="green"></div>
    <div class="yellow"></div>
    <div class="red"></div>
  </div>
  <div class="value">
    <div class="value-blue"><p>&nbsp;</p></div>
    <div class="value-green"><p>18.5</p></div>
    <div class="value-yellow"><p>25</p></div>
    <div class="value-red"><p>30</p></div>
  </div>
</div>
