<main>
  <section *ngIf="posts && posts.length > 0">
    <h1>Articles</h1>
    <article *ngFor="let post of posts">
      <h2>
        <a
          routerLink="/articles/{{
            post.title | lowercase | replaceSpacesWith: '-'
          }}"
          [title]="post.title"
          >{{ post.title }}
        </a>
      </h2>
      <p>
        Nostrud commodo tempor aliqua in proident pariatur qui. Eiusmod dolore
        commodo enim exercitation cillum eu. Id cupidatat sunt cupidatat ipsum
        pariatur ullamco enim eiusmod enim tempor.
      </p>
    </article>
  </section>
</main>
