footer {
  background-color: #722f7d;
  margin-top: 40px;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  text-decoration: none;
  padding: 18px 24px;
  margin: 0;
  text-align: center;
  color: #fff;
  list-style: none;
}
