<footer>
  <ul>
    <li><a routerLink="/calcul-imc" title="#">Calculer votre imc</a></li>
    <li><a routerLink="/articles" title="#">Blog</a></li>
    <li><a href="#" title="">CGU</a></li>
    <li>2022 @Copyright</li>
  </ul>
</footer>
