<form
  id="calculateMyBmiForm"
  class="form"
  [formGroup]="calculateBmiForm"
  (submit)="submitCalculateBmiForm()"
  #calculateBmiFormRef="ngForm"
  novalidate
>
  <div class="form-group">
    <label for="weight" class="input-label">Votre poids (kg) : </label>
    <input
      type="number"
      name="weight"
      class="input-field"
      formControlName="weight"
      data-test-weight-input
      required
    />
    <span class="input-check">
      <i class="fas fa-check-circle"></i>
      <i class="fas fa-exclamation-circle"></i>
    </span>
    <ng-container *ngIf="calculateBmiForm.invalid && isSubmitted">
      <small
        class="input-alert"
        *ngIf="calculateBmiForm.get('weight')?.hasError('required')"
        data-test-error-message-required-weight
      >
        Le poids est obligatoire
      </small>

      <small
        class="input-alert"
        *ngIf="calculateBmiForm.get('weight')?.hasError('pattern')"
        data-test-error-message-only-numeric-weight
      >
        Le poids renseigné est incorrect
      </small>

      <small
        class="input-alert"
        *ngIf="
          calculateBmiForm.get('weight')?.hasError('min') &&
          !calculateBmiForm.get('weight')?.hasError('pattern')
        "
        data-test-error-message-min-weight
      >
        Le poids renseigné est incorrect
      </small>
    </ng-container>
  </div>

  <div class="form-group">
    <label for="height" class="input-label">Votre taille (cm) : </label>
    <input
      type="number"
      name="height"
      class="input-field"
      formControlName="height"
      data-test-height-input
      required
    />
    <span class="input-check">
      <i class="fas fa-check-circle"></i>
      <i class="fas fa-exclamation-circle"></i>
    </span>
    <ng-container *ngIf="calculateBmiForm.invalid && isSubmitted">
      <small
        class="input-alert"
        *ngIf="calculateBmiForm.get('height')?.hasError('required')"
        data-test-error-message-required-height
      >
        La taille est obligatoire
      </small>

      <small
        class="input-alert"
        *ngIf="calculateBmiForm.get('height')?.hasError('pattern')"
        data-test-error-message-only-numeric-height
      >
        La taille renseignée est incorrecte
      </small>

      <small
        class="input-alert"
        *ngIf="
          calculateBmiForm.get('height')?.hasError('min') &&
          !calculateBmiForm.get('height')?.hasError('pattern')
        "
        data-test-error-message-min-height
      >
        La taille renseignée est incorrecte
      </small>
    </ng-container>
  </div>

  <ng-container *ngIf="calculatedBmi > 0 && calculateBmiForm.valid">
    <div class="bmi-interpretation">
      <p data-test-bmi-result-bloc data-test-bmi-interpretation-bloc>
        Votre IMC : <strong>{{ calculatedBmi }}</strong> -
        <strong>{{ bmiInterpretationFrLabel }}</strong>
      </p>

      <cmb-indicator-bar [indicatorValue]="calculatedBmi"></cmb-indicator-bar>

      <p data-test-bmi-interpretation-by-weight-and-height-bloc>
        Votre poids
        <strong>({{ calculateBmiForm.controls["weight"].value }} kg)</strong>
        par rapport à votre taille
        <strong
          >({{ calculateBmiForm.controls["height"].value / 100 }} m)</strong
        >
        indique que :
        <strong>{{ bmiInterpretationByWeightAndHeightFrLabel }}</strong
        >.
      </p>

      <p
        *ngIf="normalWeightByHeight"
        data-test-bmi-normal-by-min-and-max-weight-by-given-height-bloc
      >
        Le poids normal pour une taille de
        <strong>{{ calculateBmiForm.controls["height"].value / 100 }} m</strong>
        est :
        <strong>
          entre {{ normalWeightByHeight.min }} kg et
          {{ normalWeightByHeight.max }} kg </strong
        >.
      </p>
    </div>
    <div class="bmi-interpretation">
      <strong>Comment interpréter votre IMC ?</strong>
      <p>L'IMC est :</p>
      <ul>
        <li>Moins de 18,5 : Poids insuffisant.</li>
        <li>Entre 18.5 et 24.9 : NOrmal - Sain.</li>
        <li>Entre 25 et 29.9 : Surpoids.</li>
        <li>Plus de 30 : Obésité</li>
      </ul>
    </div>
  </ng-container>

  <div class="form-group">
    <input
      type="submit"
      class="input-submit"
      value="CALCULER"
      data-test-calculate-bmi-button
    />
  </div>
</form>
