$color-white: #fff;
$color-light: #f1f5f8;
$color-black: #121212;

$color-red: #f44336;
$color-green: #2ecc71;
$color-purple: #9c27b0;

$shadow-normal: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
$shadow-medium: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
$shadow-large: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);

a,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
}

form {
  max-width: 30rem;
  width: 100%;
  height: auto;
  padding: 0.8rem;
  margin: 0 auto;
  border: none;
  outline: none;
  border-radius: 0.25rem;
  background: $color-white;
}

.form {
  &-group {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 0.25rem;
    padding-bottom: 1rem;
    backface-visibility: hidden;

    .input-label {
      font-family: inherit;
      font-size: 1rem;
      font-weight: 400;
      line-height: inherit;
      color: $color-black;
      text-transform: capitalize;
      text-rendering: optimizelegibility;
    }

    .input-field {
      font-family: inherit;
      font-size: 1rem;
      font-weight: normal;
      line-height: inherit;
      width: 100%;
      height: auto;
      padding: 0.75rem 1.5rem;
      margin: 0.25rem 0;
      border: none;
      outline: none;
      border-radius: 0.25rem;
      border-bottom: 2px solid transparent;
      color: $color-black;
      background: #ece4ed;
      box-shadow: $shadow-normal;
      text-transform: unset;
      text-rendering: optimizelegibility;
    }

    .input-check i.fas {
      position: absolute;
      font-size: 1rem;
      line-height: inherit;
      display: block;
      top: 2.5rem;
      right: 1rem;
      opacity: 0;
      visibility: hidden;
    }

    .input-alert {
      position: absolute;
      display: block;
      font-family: inherit;
      font-size: 0.975rem;
      font-weight: normal;
      line-height: inherit;
      left: 0;
      bottom: 0;
      color: $color-red;
    }

    .input-submit {
      font-family: inherit;
      font-size: 1rem;
      font-weight: 500;
      line-height: inherit;
      cursor: pointer;
      width: 100%;
      height: auto;
      padding: 0.75rem 1.5rem;
      margin-top: 1rem;
      border: none;
      outline: none;
      border-radius: 0.25rem;
      color: $color-white;
      background: $color-purple;
      box-shadow: $shadow-normal;
      text-transform: capitalize;
      text-rendering: optimizelegibility;
    }

    &.success {
      .input-field {
        border-bottom: 2px solid $color-green;
      }

      .input-check {
        i.fa-check-circle {
          opacity: 1;
          visibility: visible;
          color: $color-green;
        }
      }
    }

    &.error {
      .input-field {
        border-bottom: 2px solid $color-red;
      }

      .input-check {
        i.fa-exclamation-circle {
          opacity: 1;
          visibility: visible;
          color: $color-red;
        }
      }

      .input-alert {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.bmi-interpretation {
  border-left: 3px solid #9c27b0;
  padding-left: 10px;
  text-align: left;
}

ul {
  list-style: none;
}
