.nav {
  height: 50px;
  width: 100%;
  background-color: #722f7d;
  position: relative;
  z-index: 1000;
}

.nav .nav-header {
  display: inline;
}

.nav img {
  height: 30px;
  width: 30px;
  justify-self: start;
  margin-left: 10px;
  margin-top: 10px;
}

.nav .nav-btn {
  display: none;
}

.nav .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav .nav-links a {
  height: 50px;
  display: inline-block;
  padding: 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav .nav-links a:hover {
  background-color: rgb(0 0 0 / 30%);
}

.nav #nav-check {
  display: none;
}

@media (max-width: 600px) {
  .nav .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .nav .nav-btn label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .nav .nav-btn label:hover,
  .nav #nav-check:checked ~ .nav-btn label {
    background-color: rgb(0 0 0 / 30%);
  }

  .nav .nav-btn label span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }

  .nav .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #722f7d;
    height: 0;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0;
  }

  .nav .nav-links a {
    display: block;
    width: 100%;
  }

  .nav #nav-check:not(:checked) ~ .nav-links {
    height: 0;
  }

  .nav #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
