<header>
  <nav class="nav" data-test-nav-element>
    <input type="checkbox" id="nav-check" #inputNavCheck />
    <a routerLink="/calcul-imc" title="#">
      <img src="assets/svg/logo.svg" alt="logo" />
    </a>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>

    <div class="nav-links">
      <a
        routerLink="/calcul-imc"
        title="#"
        (click)="inputNavCheck.click()"
        data-test-home-link-element
        >CALCULER IMC</a
      >
      <a
        routerLink="/articles"
        title="#"
        (click)="inputNavCheck.click()"
        data-test-blog-link-element
        >BLOG</a
      >
    </div>
  </nav>
</header>
