<main>
  <article>
    <div>
      <h1>H1 : TITLE</h1>
      <p>P : Officia anim irure id voluptate veniam.</p>
      <cmb-calculate-my-bmi-form></cmb-calculate-my-bmi-form>
    </div>

    <section class="item">
      <h2>H2 : Sous title</h2>
      <img src="assets/svg/01.svg" alt="logo" />
      <p>
        Consequat laborum est nostrud aliquip cupidatat ad commodo. Mollit aute
        ex est amet officia qui in anim. Cupidatat culpa non irure qui ullamco
        consequat culpa tempor excepteur id mollit mollit voluptate
        reprehenderit.
      </p>
    </section>

    <section class="item">
      <h2>H2 : Sous title</h2>
      <img src="assets/svg/02.svg" alt="logo" />
      <p>
        Consequat laborum est nostrud aliquip cupidatat ad commodo. Mollit aute
        ex est amet officia qui in anim. Cupidatat culpa non irure qui ullamco
        consequat culpa tempor excepteur id mollit mollit voluptate
        reprehenderit.
      </p>
    </section>

    <section class="item">
      <h2>H2 : Sous title</h2>
      <img src="assets/svg/03.svg" alt="logo" />
      <p>
        Dolor elit pariatur nisi aliquip culpa officia ex. Sunt non sit est
        commodo ipsum in cillum nulla officia aute esse nostrud. Qui commodo
        laborum sint non tempor ut.
      </p>
    </section>

    <section class="item">
      <h2>H2 : Sous title</h2>
      <img src="assets/svg/04.svg" alt="logo" />
      <p>
        Ut ipsum fugiat et fugiat et cupidatat voluptate nostrud excepteur
        laborum. Enim non esse adipisicing fugiat nostrud ad sunt incididunt
        eiusmod proident in fugiat.
      </p>
    </section>

    <section class="last-item last-item-margin-top">
      <h2>H2 : Sous title</h2>
      <p>
        Ut ipsum fugiat et fugiat et cupidatat voluptate nostrud excepteur
        laborum. Enim non esse adipisicing fugiat nostrud ad sunt incididunt
        eiusmod proident in fugiat.Ut ipsum fugiat et fugiat et cupidatat
        voluptate nostrud excepteur laborum. Enim non esse adipisicing fugiat
        nostrud ad sunt incididunt eiusmod proident in fugiat.Ut ipsum fugiat et
        fugiat et cupidatat voluptate nostrud excepteur laborum. Enim non esse
        adipisicing fugiat nostrud ad sunt incididunt eiusmod proident in
        fugiat.Ut ipsum fugiat et fugiat et cupidatat voluptate nostrud
        excepteur laborum. Enim non esse adipisicing fugiat nostrud ad sunt
        incididunt eiusmod proident in fugiat.Ut ipsum fugiat et fugiat et
        cupidatat voluptate nostrud excepteur laborum.
      </p>
    </section>

    <section class="last-item">
      <h2>H2 : Sous title</h2>
      <p>
        Ut ipsum fugiat et fugiat et cupidatat voluptate nostrud excepteur
        laborum. Enim non esse adipisicing fugiat nostrud ad sunt incididunt
        eiusmod proident in fugiat.Ut ipsum fugiat et fugiat et cupidatat
        voluptate nostrud excepteur laborum. Enim non esse adipisicing fugiat
        nostrud ad sunt incididunt eiusmod proident in fugiat.Ut ipsum fugiat et
        fugiat et cupidatat voluptate nostrud excepteur laborum. Enim non esse
        adipisicing fugiat nostrud ad sunt incididunt eiusmod proident in
        fugiat.Ut ipsum fugiat et fugiat et cupidatat voluptate nostrud
        excepteur laborum. Enim non esse adipisicing fugiat nostrud ad sunt
        incididunt eiusmod proident in fugiat.Ut ipsum fugiat et fugiat et
        cupidatat voluptate nostrud excepteur laborum.
      </p>
    </section>

    <section class="last-item">
      <h2>H2 : Sous title</h2>
      <p>
        Ut ipsum fugiat et fugiat et cupidatat voluptate nostrud excepteur
        laborum. Enim non esse adipisicing fugiat nostrud ad sunt incididunt
        eiusmod proident in fugiat.Ut ipsum fugiat et fugiat et cupidatat
        voluptate nostrud excepteur laborum. Enim non esse adipisicing fugiat
        nostrud ad sunt incididunt eiusmod proident in fugiat.Ut ipsum fugiat et
        fugiat et cupidatat voluptate nostrud excepteur laborum. Enim non esse
        adipisicing fugiat nostrud ad sunt incididunt eiusmod proident in
        fugiat.Ut ipsum fugiat et fugiat et cupidatat voluptate nostrud
        excepteur laborum. Enim non esse adipisicing fugiat nostrud ad sunt
        incididunt eiusmod proident in fugiat.Ut ipsum fugiat et fugiat et
        cupidatat voluptate nostrud excepteur laborum.
      </p>
    </section>

    <section
      *ngIf="posts && posts.length > 0"
      id="internal-links"
      data-test-internal-links
    >
      <h2 class="h2-blog-title">Articles les plus lus</h2>
      <u class="list-internal-links">
        <li *ngFor="let post of posts">
          <a
            routerLink="/articles/{{
              post.title | lowercase | replaceSpacesWith: '-'
            }}"
            [title]="post.title"
          >
            {{ post.title }}
          </a>
        </li>
      </u>
    </section>
  </article>
</main>
