h1 {
  text-align: center;
  margin-top: 50px;
}

h1 ~ p {
  text-align: center;
}

article {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

section.item {
  margin: 1rem;
  width: 200px;
  text-align: center;
}

section.last-item {
  text-align: left;
  margin: auto 15px;
}

section.last-item-margin-top {
  margin-top: 55px;
}

section img {
  width: 125px;
  height: 125px;
}

#internal-links {
  margin-top: 35px;
}

.list-internal-links {
  list-style: none;
}

.list-internal-links li {
  margin: 18px 4px;
  font-size: 20px;
}
