/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

@media (min-width: 992px) {
  main {
    margin: auto 240px;
  }
}
