<ng-template cmbDynamicComponentLoaderHost></ng-template>
<main *ngIf="post && post.content">
  <article class="post" [innerHTML]="post.content | sanitizeHtml"></article>
  <!--section
    *ngIf="postsForInternalLinks && postsForInternalLinks.length > 0"
    id="internal-links"
    data-test-internal-links
  >
    <h2 class="h2-blog-title">Articles les plus lus</h2>

    <u class="list-internal-links">
      <li *ngFor="let postForInternalLink of postsForInternalLinks">
        <a
          routerLink="/articles/{{
            postForInternalLink.title | lowercase | replaceSpacesWith: '-'
          }}"
          [title]="postForInternalLink.title"
        >
          {{ postForInternalLink.title }}
        </a>
      </li>
    </u>
  </section-->

  <!--article>
    <h1 *ngIf="post.title">
      Ad ut dolor consectetur do Lorem non commodo incididunt dolore ipsum.
    </h1>
    <img *ngIf="post.img" [src]="post.img" [alt]="post.title" />
    <p>
      Amet adipisicing amet duis do elit ex veniam.Sit duis dolore nisi qui
      esse. Ut deserunt cillum pariatur adipisicing adipisicing ad ipsum
      incididunt incididunt cillum. Non pariatur nostrud irure sit est fugiat
      occaecat veniam ut nisi labore ad.
    </p>

    <section>
      <h2 class="h2-blog-title">
        Aute nostrud do ut laborum in labore qui occaecat.
      </h2>
      <p>
        Consequat do id aliquip quis tempor occaecat occaecat voluptate. Id
        velit quis esse dolore nisi eu incididunt. Eiusmod culpa minim ea sunt
        occaecat ad officia mollit mollit Lorem. Proident commodo do incididunt
        tempor laborum nostrud culpa adipisicing cillum ut duis do. Sunt aliquip
        commodo qui adipisicing aute reprehenderit irure. Eu velit culpa nostrud
        ea velit non esse ea et occaecat laborum. Aute tempor ea nulla veniam
        labore. Magna fugiat officia et laboris. Consequat irure consectetur
        reprehenderit enim aute ipsum. Proident Lorem veniam laboris voluptate
        id commodo commodo laboris sunt nisi ullamco. Id culpa quis do ex
        laborum officia reprehenderit fugiat culpa minim est velit consequat. Do
        adipisicing quis nulla et sit. Eu pariatur est qui veniam. Quis dolore
        ea enim esse reprehenderit est in duis ipsum nostrud officia
        reprehenderit ut fugiat.
      </p>
    </section>

    <section class="calculate-my-bmi-form">
      <h2>Excepteur ea eu ullamco consequat minim.</h2>
      <p>Exercitation in proident est et reprehenderit eu ipsum.</p>
      <cmb-calculate-my-bmi-form></cmb-calculate-my-bmi-form>
    </section>

    <section>
      <h2 class="h2-blog-title">
        Aute nostrud do ut laborum in labore qui occaecat.
      </h2>
      <p>
        Consequat do id aliquip quis tempor occaecat occaecat voluptate. Id
        velit quis esse dolore nisi eu incididunt. Eiusmod culpa minim ea sunt
        occaecat ad officia mollit mollit Lorem. Proident commodo do incididunt
        tempor laborum nostrud culpa adipisicing cillum ut duis do. Sunt aliquip
        commodo qui adipisicing aute reprehenderit irure. Eu velit culpa nostrud
        ea velit non esse ea et occaecat laborum. Aute tempor ea nulla veniam
        labore. Magna fugiat officia et laboris. Consequat irure consectetur
        reprehenderit enim aute ipsum. Proident Lorem veniam laboris voluptate
        id commodo commodo laboris sunt nisi ullamco. Id culpa quis do ex
        laborum officia reprehenderit fugiat culpa minim est velit consequat. Do
        adipisicing quis nulla et sit. Eu pariatur est qui veniam. Quis dolore
        ea enim esse reprehenderit est in duis ipsum nostrud officia
        reprehenderit ut fugiat.
      </p>
    </section>

    <section>
      <h2 class="h2-blog-title">
        Aute nostrud do ut laborum in labore qui occaecat.
      </h2>
      <p>
        Consequat do id aliquip quis tempor occaecat occaecat voluptate. Id
        velit quis esse dolore nisi eu incididunt. Eiusmod culpa minim ea sunt
        occaecat ad officia mollit mollit Lorem. Proident commodo do incididunt
        tempor laborum nostrud culpa adipisicing cillum ut duis do. Sunt aliquip
        commodo qui adipisicing aute reprehenderit irure. Eu velit culpa nostrud
        ea velit non esse ea et occaecat laborum. Aute tempor ea nulla veniam
        labore. Magna fugiat officia et laboris. Consequat irure consectetur
        reprehenderit enim aute ipsum. Proident Lorem veniam laboris voluptate
        id commodo commodo laboris sunt nisi ullamco. Id culpa quis do ex
        laborum officia reprehenderit fugiat culpa minim est velit consequat. Do
        adipisicing quis nulla et sit. Eu pariatur est qui veniam. Quis dolore
        ea enim esse reprehenderit est in duis ipsum nostrud officia
        reprehenderit ut fugiat.
      </p>
    </section>

    <section>
      <h2 class="h2-blog-title">
        Aute nostrud do ut laborum in labore qui occaecat.
      </h2>
      <p>
        Consequat do id aliquip quis tempor occaecat occaecat voluptate. Id
        velit quis esse dolore nisi eu incididunt. Eiusmod culpa minim ea sunt
        occaecat ad officia mollit mollit Lorem. Proident commodo do incididunt
        tempor laborum nostrud culpa adipisicing cillum ut duis do. Sunt aliquip
        commodo qui adipisicing aute reprehenderit irure. Eu velit culpa nostrud
        ea velit non esse ea et occaecat laborum. Aute tempor ea nulla veniam
        labore. Magna fugiat officia et laboris. Consequat irure consectetur
        reprehenderit enim aute ipsum. Proident Lorem veniam laboris voluptate
        id commodo commodo laboris sunt nisi ullamco. Id culpa quis do ex
        laborum officia reprehenderit fugiat culpa minim est velit consequat. Do
        adipisicing quis nulla et sit. Eu pariatur est qui veniam. Quis dolore
        ea enim esse reprehenderit est in duis ipsum nostrud officia
        reprehenderit ut fugiat.
      </p>
    </section>

    <section>
      <h2 class="h2-blog-title">
        Aute nostrud do ut laborum in labore qui occaecat.
      </h2>
      <p>
        Consequat do id aliquip quis tempor occaecat occaecat voluptate. Id
        velit quis esse dolore nisi eu incididunt. Eiusmod culpa minim ea sunt
        occaecat ad officia mollit mollit Lorem. Proident commodo do incididunt
        tempor laborum nostrud culpa adipisicing cillum ut duis do. Sunt aliquip
        commodo qui adipisicing aute reprehenderit irure. Eu velit culpa nostrud
        ea velit non esse ea et occaecat laborum. Aute tempor ea nulla veniam
        labore. Magna fugiat officia et laboris. Consequat irure consectetur
        reprehenderit enim aute ipsum. Proident Lorem veniam laboris voluptate
        id commodo commodo laboris sunt nisi ullamco. Id culpa quis do ex
        laborum officia reprehenderit fugiat culpa minim est velit consequat. Do
        adipisicing quis nulla et sit. Eu pariatur est qui veniam. Quis dolore
        ea enim esse reprehenderit est in duis ipsum nostrud officia
        reprehenderit ut fugiat.
      </p>
    </section>
  </article-->
</main>
