article {
  margin: auto 15px;
}

img {
  margin: 10px auto;
  max-width: 80%;
  height: 250px;
  display: block;
  background-color: pink;
}

::ng-deep article.post h2 {
  padding-left: 8px;
  border-left: 3px solid #80418a;
}

.calculate-my-bmi-form {
  text-align: center;
  margin: 28px auto;
  padding: 0 6px;
}

#internal-links {
  margin-top: 35px;
}

.list-internal-links {
  list-style: none;
}

.list-internal-links li {
  margin: 18px 4px;
  font-size: 20px;
}
